# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Vector database
vectorstore/

# Streamlit
.streamlit/

# Frontend
node_modules/
dist/

# IDE files
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
temp/
tmp/

# databases
*.db
data/*.db